{#
| Variable                   | Type        | Description                                                          |
|----------------------------|-------------|----------------------------------------------------------------------|
| product                    | object      |                                                                      |
| product.id                 | int         |                                                                      |
| product.name               | string      |                                                                      |
| product.price              | float       |                                                                      |
| product.sale_price         | float       |                                                                      |
| product.images             | Image[]     |                                                                      |
| product.rating             | Rating      |                                                                      |
| product.brand              | Brand       |                                                                      |
| product.description        | string      |                                                                      |
| product.calories           | ?int        |                                                                      |
| product.sku                | ?string     |                                                                      |
| product.is_on_sale         | bool        |                                                                      |
| product.is_giftable        | bool        |                                                                      |
| product.has_read_more      | bool        |                                                                      |
| product.has_options        | bool        |                                                                      |
| product.has_size_guide     | bool        |                                                                      |
| product.has_3d_image       | bool        |                                                                      |
| product.add_to_cart_label   | string      |                                                                      |
#}
{% extends "layouts.master" %}
{% block content %}
    <div class="container">
        <nav class="breadcrumbs w-full py-5">
            {% component 'header.breadcrumbs' %}
        </nav>
        <div class="flex flex-col items-start md:flex-row" id="product-{{ product.id }}">
            <div class="sidebar md:sticky top-24 w-full md:!w-2/4 rtl:ml-8 ltr:mr-8 pb-8 md:pb-16 overflow-hidden shrink-0">
                {% set has_many_images = product.images|length > 1 %}
                <salla-slider
                        id="details-slider-{{ product.id }}"
                        class="details-slider rounded-md image-slider"
                        type="thumbs"
                        loop="false"
                        auto-height
                        listen-to-thumbnails-option
                        show-thumbs-controls="false">
                    {% if product.promotion_title %}
                        <div class="promotion-title">{{ product.promotion_title }}</div>
                    {% endif %}

                    <salla-button
                            class="btn--wishlist animated sws"
                            data-id="{{ product.id }}"
                            onclick="salla.wishlist.toggle({{ product.id }})"
                            shape="icon"
                            fill="outline"
                            color="light">
                        <i class="sicon-heart"></i>
                    </salla-button>

                    {% if product.calories %}
                        <div class="absolute z-[2] top-4 rtl:left-4 ltr:right-4 bg-white shadow-sm flex flex-col justify-center items-center rounded-full w-20 h-20 md:w-24 md:h-24">
                            <span class="text-red-500 text-xl leading-none font-bold">{{ product.calories }}</span>
                            <span class="text-xs text-gray-500">{{ trans('pages.products.calories') }}</span>
                        </div>
                    {% endif %}

                    <div slot="items">
                        {% for image in product.images %}
                            {% if image.three_d_image_url %}
                                <model-viewer style="min-height: 500px;" class="swiper-slide model-entry w-full h-full"
                                              loading="eager" camera-controls
                                              touch-action="pan-y" auto-rotate
                                              poster="{{ image.url }}"
                                              src="{{ image.three_d_image_url }}"
                                              shadow-intensity="1" alt="{{ image.alt }}">
                                </model-viewer>
                            {% else %}
                                <a data-fslightbox="product_{{ product.id }}"
                                   data-img-id="{{ image.id }}"
                                   data-slid-index="{{ loop.index-1 }}"{% if image.video_url %} data-video-src="{{ image.video_url }}"{% endif %}
                                   data-caption="{{ image.alt }}"
                                   data-infinite="false"
                                   id="magnify-image"
                                   data-type="{{ image.video_url ? 'youtube' : 'image' }}"
                                   href="{{ image.video_url ? image.video_url : image.url }}"
                                   aria-label="{{ product.name }}"
                                   class="swiper-slide homeslider__slide {{ image.video_url ? 'video-entry' : '' }}">
                                    {% if loop.first %}
                                        <img id="{{ image.id }}" fetchpriority="high" loading="eager" src="{{ image.url }}"
                                             alt="{{ image.alt }}"
                                             class="h-full object-{{ theme.settings.get('slider_background_size') }} w-full {{ image.three_d_image_url ? 'model-poster' : '' }}">
                                    {% else %}
                                        <img id="{{ image.id }}" src="{{ 'images/s-empty.png' | asset }}" data-src="{{ image.url }}"
                                             alt="{{ image.alt }}"
                                             class="lazy h-full object-{{ theme.settings.get('slider_background_size') }} w-full {{ image.three_d_image_url ? 'model-poster' : '' }}">
                                    {% endif %}
                                </a>
                            {% endif %}
                        {% endfor %}
                    </div>

                    {% if has_many_images %}
                        <div slot="thumbs">
                            {% for image in product.images %}
                                <div class="slide--one-fourth {{ image.video_url ? 'video-entry' : '' }} {{ image.three_d_image_url ? 'model-entry' : '' }}">
                                    {% if loop.index < 5 %}
                                        <img src="{{ image.url }}"
                                             loading="eager"
                                             class="object-cover w-full h-full bg-gray-100 rounded-md overflow-hidden"
                                             title="{{ image.alt }}"
                                             alt="{{ image.alt }}"/>
                                    {% else %}
                                        <img data-src="{{ image.url }}" src="{{ 'images/s-empty.png' | asset }}"
                                             class="object-cover w-full h-full lazy bg-gray-100 rounded-md overflow-hidden"
                                             title="{{ image.alt }}"
                                             alt="{{ image.alt }}"/>
                                    {% endif %}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                </salla-slider>
            </div>

            <div class="main-content md:sticky top-24 w-full md:w-2/4 md:pb-16">
                {% hook 'product:single.description.start' %}

                {% if product.brand.name %}
                    <div class="product-brand mb-5 w-12">
                        <a class="brand-logo" href="{{ product.brand.url }}" title="{{ product.brand.name }}">
                            <img width="100%" height="100%" class="max-h-full object-contain"
                                 src="{{ product.brand.logo }}"
                                 title="{{ product.brand.name }}"
                                 alt="{{ product.brand.name }}">
                        </a>
                    </div>
                {% endif %}

                {% if product.is_taxable %}
                    <small class="color-grey">{{ trans('pages.products.tax_included') }}</small>
                {% endif %}

                <h1 class="text-xl md:text-2xl leading-10 font-bold mb-6 text-gray-800">{{ product.name }}</h1>

                {% if product.subtitle %}
                    <h3 class="product-entry__sub-title text-sm text-gray-400 leading-6 mb-2.5">
                        {{ product.subtitle }}
                    </h3>
                {% endif %}

                {% if product.rating %}
                    <salla-rating-stars value="{{ product.rating.stars }}"
                                        reviews="{{ product.rating.count }}"></salla-rating-stars>
                {% endif %}

                <div class="flex whitespace-nowrap gap-4 items-center">
                    {% if product.is_on_sale %}
                        <div class="flex items-center space-x-2 rtl:space-x-reverse whitespace-nowrap">
                            <h4 class="text-red-400 font-bold text-xl inline-block">{{ product.sale_price|money }}</h4>
                            <span class="text-gray-400 line-through opacity-70">{{ product.regular_price|money }}</span>
                        </div>
                    {% elseif product.starting_price %}
                        <span>{{ trans('pages.products.starting_price') }}</span> <h4 class="font-bold text-xl inline-block">{{ product.starting_price|money }}</h4>
                    {% else %}
                        <h4 class="font-bold text-xl inline-block">{{ product.price|money }}</h4>
                    {% endif %}
                </div>

                <div class="product__description p-2 px-5 sm:p-1 leading-7 mb-3">
                    {% set product_desc = product.description|replace({"&nbsp;":"\n"}) %}
                    {% if product.has_read_more %}
                        <article class="article article--main relative overflow-hidden transition-all max-h-0 duration-300 py-4 opacity-70"
                                 id="more-content" style="max-height:5.25rem">
                            {{ product_desc|raw }}
                        </article>

                        <a id="btn-show-more" class="link--primary inline-block mt-2 cursor-pointer">
                            {{ trans('pages.products.read_more') }}
                        </a>
                    {% else %}
                        <p class="pb-1">{{ product_desc|raw }}</p>
                    {% endif %}
                </div>

                {% if product.tags|length and theme.settings.get('show_tags', true) %}
                    <div class="mb-3">
                        {% for tag in product.tags %}
                            <a href="{{ tag.url }}"
                               class="rtl:ml-2 ltr:mr-2 inline-flex text-gray-500 hover:text-primary underline text-sm mb-1">{{ tag.name }},
                            </a>
                        {% endfor %}
                    </div>
                {% endif %}

                <div class="flex rtl:space-x-reverse space-x-3">
                    <salla-social-share class="inline-flex mb-5"></salla-social-share>

                    <salla-button
                            class="btn--wishlist animated hidden sm:inline-flex"
                            data-id="{{ product.id }}"
                            onclick="salla.wishlist.toggle({{ product.id }})"
                            shape="icon"
                            fill="outline"
                            color="light">
                        <i class="sicon-heart"></i>
                    </salla-button>
                </div>

                {% if product.sold_quantity or product.can_show_remained_quantity %}
                    <div class="bg-white py-2.5 mb-5 rounded-md inline-flex text-sm">
                        {% if product.sold_quantity %}
                            <div class="px-4 text-red-400">
                                <i class="sicon-fire rtl:ml-1.5 ltr:mr-1.5"></i> {{ trans('pages.products.sold') }}
                                <span>{{ pluralize('pages.products.sold_times', product.sold_quantity)|raw }}</span>
                            </div>
                        {% endif %}
                        {% if product.can_show_remained_quantity %}
                            <div class="px-4 rtl:even:border-r ltr:even:border-l even:border-gray-200">
                                <i class="text-red-400 sicon-box-bankers rtl:ml-1.5 ltr:mr-1.5"></i>
                                {{ trans('pages.products.remained') }}
                                <span>{{ product.quantity }}</span>
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
                {% if product.sku %}
                    <div class="mb-4 flex justify-between sm:grid sm:grid-cols-3 bg-white rounded-md px-4 py-2">
                        <div class="flex items-center">
                            <i class="sicon-barcode mx-1"></i>
                            {{ trans('pages.products.sku') }}
                        </div>
                        <div class="text-unicode">{{ product.sku }}</div>
                    </div>
                {% endif %}
                {% hook 'product:single.description' %}

                <salla-installment price="{{ product.price }}"></salla-installment>

                {% if product.show_availability %}
                    <section class="bg-white p-5 rounded-md mb-5 last:mb-0">
                        <div class="center-between">
                            <label class="flex items-center text-base">
                                <span class="sicon-location rtl:ml-1 ltr:mr-1"></span>
                                <span class="inline-block">{{ trans('pages.products.availability') }}</span>
                            </label>
                            <div class="mt-1 sm:mt-0 sm:col-span-2 text-end">
                                <div class="flex rtl:space-x-reverse space-x-3">
                                    <a href="#!"
                                       onclick="salla.event.dispatch('scopes::open', {mode: 'availability', product_id: {{ product.id }} })"
                                       class="group text-primary flex items-center justify-center">
                                        <span>{{ trans('pages.products.select_branch') }}</span>
                                        <span class="sicon-keyboard_arrow_left mr-2 transition-all group-hover:-translate-x-1"></span>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </section>
                {% endif %}

                <form class="form product-form" enctype="multipart/form-data" method="post"
                      onchange="salla.product.getPrice(new FormData(event.currentTarget))"
                      onsubmit="return salla.form.onSubmit('cart.addItem', event)">
                    <input type="hidden" name="id" value="{{ product.id }}">

                    {% hook 'product:single.form.start' %}

                    {% include 'pages.partials.product.options' %}

                    {% hook 'product:single.form.end' %}

                    {% if product.is_giftable %}
                        <salla-gifting class="mt-5" widget-subtitle="{{ gifting_intro }}" product-id="{{ product.id }}"></salla-gifting>
                    {% endif %}
                </form>

                {% hook 'product:single.description.end' %}
                <salla-quick-order class="mt-5 md:-mb-2 block"></salla-quick-order>
            </div>
        </div>
        {% component 'product.offer' %}
    </div>

    {% component 'comments' %}
    <div class="container">
        <salla-products-slider source="related" source-value="{{ product.id }}" block-title="{{ trans('pages.products.similar_products') }}" display-all-url></salla-products-slider>
    </div>
{% endblock %}

{% block scripts %}
    <script defer src="{{ 'product.js' | asset }}"></script>
    {% if product.has_3d_image %}
        <script type="module" defer src="https://unpkg.com/@google/model-viewer/dist/model-viewer.min.js"></script>
    {% endif %}
{% endblock %}

