{#
| المتغير                        | النوع     | الوصف                                                                      |
|---------------------------------|----------|----------------------------------------------------------------------------|
| component                       | object   | يحتوي على إعدادات التاجر للحقول من قسم twilight.json `component`        |
| component.banners               | object[] | قائمة اللافتات                                                             |
| component.banners[].image       | string   | رابط الصورة                                                               |
| component.banners[].url         | string   | رابط الوجهة                                                              |
| component.banners[].title       | ?string  | عنوان اللافتة                                                             |
| component.banners[].description | ?string  | وصف اللافتة                                                               |
| position                        | int      | رقم الترتيب يبدأ من الصفر                                                |
#}

<section class="s-block s-block--banners container">
    <div class="grid {{ component.banners|length <= 3 ? 'md:grid-cols-' ~ component.banners|length : 'md:grid-cols-3 two-row' }} grid-flow-row gap-3 sm:gap-8">
        {% for index, banner in component.banners %}
            <a href="{{ banner.url }}" aria-label="{{ banner.title ? banner.title : 'square-banner-' ~ index }}" class="banner-entry lazy {{ banner.title ? 'has-overlay' : '' }} {{ component.banners|length <= 3 ? 'h-lg-banner' : 'h-banner' }}" data-bg="{{ banner.image }}">
                <article class="banner-entry__text text-with-border">
                    <h3 class="banner__title font-bold mb-1 leading-6">{{ banner.title }}</h3> <!-- عنوان اللافتة -->
                    <p class="banner__description">{{ banner.description }}</p> <!-- وصف اللافتة -->
                </article>
            </a>
        {% endfor %}
    </div>
</section>