{#
| المتغير                      | النوع      | الوصف                                                               |
|-------------------------------|-----------|---------------------------------------------------------------------|
| items                         | array     | متغير مشترك في جميع التخطيطات، index.twig، وجميع مكونات العرض     |
| items[].title                 | string    | عنوان القسم                                                        |
| items[].name                  | string    | اسم مستعار للعنوان                                                 |
| items[].type                  | string    | category, most_sales, latest_products, chosen_products              |
| items[].featured_product       | Product   |                                                                     |
| items[].special_product.id     | string    | معرف المنتج                                                        |
| items[].special_product.title  | string    | اسم المنتج                                                         |
| items[].products[]            | Product[] | قائمة المنتجات                                                    |
| items[].limit                 | Int       | عدد المنتجات التي سيتم عرضها                                       |
| items[].id                    | String    | معرف القسم                                                         |
| position                      | int       | رقم ترتيب يبدأ من الصفر                                           |
| is_slider                     | Bool      | هل يجب أن تكون المنتجات قابلة للتحريك أم ثابتة                     |
#}
{% set component_id='featured-products-style2-' ~ position %}
{% set is_vertical = theme.settings.get('vertical_fixed_products', true) %}
<section class="s-block s-block-tabs s-block--tabs-products s-block--full-bg {{ is_slider ? 'as-slider':'as-grid' }} bg-gray-100 py-8 sm:py-16" id="{{ component_id }}">
  <div class="container">

      <div class="tabs hide-scroll">
          {% for section in items %}
              <salla-button 
                class="tab-trigger {{ loop.first?'is-active':'' }}"
                data-target="{{ component_id }}-{{ section.id }}"
                data-component-id="{{ component_id }}"
                fill="outline">
                  {{ section.title }} <!-- عنوان القسم -->
              </salla-button>
          {% endfor %}
      </div>

      <div class="tabs-wrapper">
        {% for section in items %}
            <div id="{{ component_id }}-{{ section.id }}" class="tabs__item {{ loop.first?'is-active':'' }}">
                {% if is_slider %}
                    <salla-products-slider 
                      slider-id="section-{{ section.id }}-slider" 
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]" 
                      >
                    </salla-products-slider> <!-- سلايدر المنتجات -->
                {% else %}
                    <salla-products-list  
                      source="selected" 
                      source-value="[{{ section.products|map((product) => product.id)|join(',') }}]"
                      {{ is_vertical ? '' : 'horizontal-cards' }}>
                    </salla-products-list> <!-- قائمة المنتجات -->
                {% endif %}
            </div>
        {% endfor %}
      </div>
  </div>
</section> 
