{#
| المتغير           | النوع                      | الوصف                                      |
|--------------------|---------------------------|--------------------------------------------|
| limit              | string                    | الحد الأقصى لعدد الشهادات                  |
| type               | string                    | `default:store` جميعها، منتج، متجر       |
| sort               | string                    | نوع الترتيب (اختياري)                     |
| hide_customer_info | bool                      | إظهار/إخفاء معلومات العملاء               |
#}
<section class="s-block s-block--testimonials container overflow-hidden">
    <salla-reviews {{ display_all_url ? "display-all-link" : "" }} limit="{{ limit }}" sort="{{ sort }}" {{ hide_customer_info ? 'hide-customer-info' : '' }} type="{{ type }}"></salla-reviews>
</section> 
