{#
| Variable            | Type    | Description                            |
|---------------------|---------|----------------------------------------|
| advertisement       | object  | كائن الإعلان                          |
#}

{% if advertisement %}
    <div class="advertisement" style="background-color: {{ advertisement.background_color }}; color: {{ advertisement.font_color }};">
        {% if advertisement.icon %}
            <span class="{{ advertisement.icon }}"></span>
        {% endif %}
        {% if advertisement.url %}
            <a href="{{ advertisement.url }}" {% if advertisement.is_new_window %} target='_blank' {% endif %}>
                {{ advertisement.description }}
            </a>
        {% else %}
            {{ advertisement.description }}
        {% endif %}
    </div>
{% endif %}