{#
| Variable         | Type    | Description                     |
|------------------|---------|---------------------------------|
| cart             | object  |                                 |
| cart.items_count | int     |                                 |
| cart.total       | string  | Formatted total ex: "١٠٠ ر.س"   |
#}
{% set important_links = theme.settings.get('important_links') %}
<header class="store-header">
    <div class="container mx-auto flex flex-col lg:flex-row justify-between items-center py-4">
        <div class="flex justify-between items-center w-full lg:w-auto">
            {# شعار المتجر #}
            <a class="navbar-brand flex items-center" href="{{ store.url }}">
                <img fetchpriority="high" width="100%" height="100%" loading="eager" src="{{ store.logo }}" alt="{{ store.name }} logo" class="max-h-20">
                {% if is_page('index') %}
                    <h1 class="sr-only">{{ store.name }}</h1>
                {% else %}
                    <h2 class="sr-only">{{ store.name }}</h2>
                {% endif %}
            </a>
            {# زر إغلاق القائمة على الأجهزة المحمولة #}
            <button class="btn--close close-mobile-menu sicon-cancel lg:hidden"></button>
        </div>

        {# القائمة الرئيسية #}
        <nav id="mainnav" class="main-nav-container flex-1 mx-4">
            <ul class="main-menu flex items-center justify-center">
                {% component 'header.menu' %}
            </ul>
        </nav>

        {# قائمة المستخدم والعربة والبحث #}
        <div class="flex items-center space-x-4 rtl:space-x-reverse">
            {# زر البحث #}
            <button class="header-btn search-btn" aria-label="search-icon" onclick="document.querySelector('.header-search').classList.toggle('hidden')">
                <i class="fas fa-search header-btn__icon"></i>
            </button>
            
            {# مكون البحث #}
            <div class="header-search hidden">
                <salla-search inline oval height="36"></salla-search>
            </div>

            {# قائمة المستخدم #}
            {% if user.type == 'user' %}
                <salla-user-menu avatar-only show-header></salla-user-menu>
            {% else %}
                <button class="header-btn" aria-label="user-icon" onclick="salla.event.dispatch('login::open')">
                    <i class="fas fa-user-circle header-btn__icon"></i>
                </button>
            {% endif %}

            {# ملخص العربة #}
            <salla-cart-summary class="ml-4 rtl:ml-[unset] rtl:mr-4">
                <i slot="icon" class="fas fa-shopping-cart header-btn__icon"></i>
            </salla-cart-summary>
        </div>
    </div>
</header>
{% if store.scope %}
    <salla-scopes selection="{{ store.scope.display_as == 'popup' ? 'mandatory' : 'optional' }}"></salla-scopes>
{% endif %}
