{#
| المتغير            | النوع   | الوصف                                              |
|--------------------|--------|----------------------------------------------------|
| contacts           | array  | قائمة جهات الاتصال                                 |
| contacts[].name    | string | اسم جهة الاتصال                                    |
| contacts[].type    | string | نوع جهة الاتصال (whatsapp, mobile, phone, telegram, email)|
| contacts[].icon     | string | فئة CSS للأيقونة                                   |
| contacts[].url     | string | الوصول المباشر لجهة الاتصال (مثل: tel:+966555555555)|
| contacts[].value   | string | قيمة جهة الاتصال (مثل: user@example.com)           |
#}

{% if is_header %}
    <!-- عرض جهات الاتصال في الهيدر -->
    <div class="hidden lg:flex items-center">
        {% for contact in contacts|filter(contact => contact.type in ['email', 'phone']) %}
            <a href="{{ contact.url }}" class="topnav-link-item">
                {% if contact.type == 'email' %}
                    {{ contact.value }}
                {% else %}
                    <span>{{ trans('blocks.footer.social') }}: </span>
                    <span class="unicode">{{ contact.value }}</span>
                {% endif %}
            </a>
        {% endfor %}
    </div>
{% else %}
    <!-- عرض جهات الاتصال في الفوتر -->
    <div class="footer-contacts">
        <h3>{{ trans('blocks.footer.social') }}</h3>
        {% for contact in contacts %}
            <a href="{{ contact.url }}" class="contact-link mb-4 last:mb-0 flex items-center text-sm leading-none">
                <i class="rtl:ml-2.5 ltr:mr-2.5 border rounded-full w-8 h-8 justify-center flex items-center shrink-0 {{ contact.icon }}"></i>
                <span class="text-unicode unicode">{{ contact.value }}</span>
            </a>
        {% endfor %}
    </div>
{% endif %}