{# ############## المتغيرات المشتركة في جميع العروض ################
| المتغير                                           | النوع     | الوصف                                                                                              |
|----------------------------------------------------|----------|----------------------------------------------------------------------------------------------------|
| store                                              | Store    |                                                                                                    |
| store.id                                           | عدد صحيح |                                                                                                    |
| store.name                                         | نص       |                                                                                                    |
| store.username                                     | نص       |                                                                                                    |
| store.description                                  | نص       |                                                                                                    |
| store.slogan                                       | ؟نص      | * إذا كانت الميزة موجودة في twilight.json                                                          |
| store.logo                                         | نص       |                                                                                                    |
| store.url                                          | نص       |                                                                                                    |
| store.api                                          | نص       | عنوان API للمتجر الحالي                                                                            |
| store.icon                                         | نص       | * عنوان أيقونة المفضلة                                                                             |
| store.contacts                                     | كائن     | [mobile, phone, email, whatsapp, telegram]، مثال: store.contacts.email                             |
| store.social                                       | كائن     | [instagram, snapchat, twitter, youtube, facebook, pinterest, maroof, whatsapp]، مثال: store.social.twitter |
| store.settings                                     | كائن     |                                                                                                    |
| store.settings.auth.email_allowed                  | منطقي    |                                                                                                    |
| store.settings.auth.mobile_allowed                 | منطقي    |                                                                                                    |
| store.settings.auth.is_email_required              | منطقي    |                                                                                                    |
| store.settings.cart.apply_coupon_enabled           | منطقي    | هل يُسمح للزائر بتطبيق القسيمة في صفحة السلة                                                       |
| store.settings.product.total_sold_enabled          | منطقي    |                                                                                                    |
| store.settings.product.fit_type                    | ؟نص      | null عندما تكون ميزة حجم بطاقة المنتج معطلة، أو ['cover', 'contain']                                |
| store.settings.category.testimonial_enabled        | منطقي    | عرض شهادات عشوائية في صفحة الفئة                                                                   |
| store.settings.tax.number                          | ؟نص      |                                                                                                    |
| store.settings.tax.certificate                     | ؟نص      | عنوان صورة الشهادة                                                                                 |
| store.settings.tax.taxable_prices_enabled          | منطقي    | هل الضريبة مشمولة في الأسعار، مثال: سعر المنتج 100 والضريبة 15، سيكون السعر 115                     |
| store.settings.rating_enabled                      | منطقي    | هل هو واحد من: store_enabled أو shipping_enabled أو products_enabled                                |
| store.settings.arabic_numbers_enabled              | منطقي    | هل يريد التاجر عرض الأرقام بتنسيق عربي                                                             |
| store.settings.is_multilingual                     | منطقي    |                                                                                                    |
| store.settings.currencies_enabled                  | منطقي    |                                                                                                    |
| theme                                              | Theme    |                                                                                                    |
| theme.id                                           | عدد صحيح |                                                                                                    |
| theme.name                                         | نص       |                                                                                                    |
| theme.mode                                         | نص       | `live`, `preview`                                                                                  |
| theme.is_rtl                                       | منطقي    |                                                                                                    |
| theme.translations_hash                            | عدد صحيح | للاستخدام في حالة تحديث التاجر لترجمات واجهة المتجر                                               |
| theme.color                                        | كائن     |                                                                                                    |
| theme.color.primary                                | نص       |                                                                                                    |
| theme.color.text                                   | نص       | لون النص المناسب مقارنة بـ `theme.primary.color`، #000000، #FFFFFF                                 |
| theme.color.reverse_primary                        | نص       |                                                                                                    |
| theme.color.reverse_text                           | نص       | إذا كان `theme.text_color=#000000` يعني أن `theme.reverse_text_color=#FFFFFF`                      |
| theme.color.is_dark                                | منطقي    | هل يعتبر لون المتجر الرئيسي `theme.primary.color` لونًا خافتًا؟                                   |
| theme.color.darker(float alpha, ?string hexColor)  | نص       | الحصول على لون أغمق من `theme.primary.color` أو من اللون الممرر، `alpha` يتراوح من 0.0-1.0       |
| theme.color.lighter(float alpha, ?string hexColor) | نص       | الحصول على لون أفتح من `theme.primary.color` أو من اللون الممرر، `alpha` يتراوح من 0.0-1.0       |
| theme.font                                         | ؟كائن    | خط محدد مسبقًا من Salla، null عندما لا يحتوي الثيم على ميزة `fonts`                                |
| theme.font.name                                    | نص       | DINNextLTArabic-Regular, Amazon-Ember, Apple, Dubai, Estedad                                       |
| theme.font.url                                     | نص       | عنوان URL الكامل لـ CSS مثال: 'https://my_store.test/dist/fonts/default.css'                       |
| theme.settings                                     | كائن     | كائن ديناميكي يحتوي على قيم `settings` في twilight.json مثال: `theme.settings.topnav_is_dark`     |
| theme.settings.set(settingName, value)             | نص       | تعيين متغير عالمي، ثم الحصول عليه {{theme.settings.get('my_var','fallback') }}                    |
| theme.settings.get(settingName, default=null)      | مختلط    | الحصول على إعداد الثيم مثال `theme.settings.get('my_var', 'fallback')`                             |
#}
<!DOCTYPE html>
<html lang="{{ user.language.code }}" dir="{{ user.language.dir }}">
<!-- بسم الله الرحمن الرحيم -->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{ theme.settings.set('placeholder', 'images/placeholder.png') }}

    {% include 'pages.partials.loading-screen-assets' %}

    <script defer data-cfasync="false" src="{{ 'product-card.js'|asset }}"></script>
    <script defer src="{{ 'main-menu.js'|asset }}"></script>

    {% block head_scripts %}{% endblock %}

    <script data-cfasync="false">
        window.header_is_sticky = "{{ theme.settings.get('header_is_sticky', 'Default Value') }}";
        window.imageZoom = "{{ theme.settings.get('imageZoom') }}";
        window.can_access_wallet = {{ user.can_access_wallet | json_encode }};
    </script>
    
    {% hook 'head:start' %}
    {% hook 'head' %}
    {% block styles %}{% endblock %}
    <link rel="stylesheet" href="{{ 'app.css' | asset }}">
    <link rel="stylesheet" href="{{ theme.font.path|cdn }}"/>
    <link rel="stylesheet" href="{{ 'fonts/sallaicons.css'|cdn }}"/>
    
    <style>
        :root {
            --font-main: '{{theme.font.name}}';
            --color-primary: {{ theme.color.primary }};
            --color-primary-dark: {{ theme.color.darker(0.15) }};
            --color-primary-light: {{ theme.color.lighter(0.15) }};
            --color-primary-reverse: {{ theme.color.reverse_text }};
        }
    </style>
    {# خدمات التتبع، ميزة CSS المخصصة. #}
    {% hook 'head:end' %}
</head>
<body id="app" class="overflow-x-hidden {% hook 'body:classes' %}
  {{ theme.settings.get('footer_is_dark') ? ' footer-is-dark' : ' footer-is-light' }}
  {{ theme.settings.get('topnav_is_dark') ? ' topnav-is-dark' : '' }}
  {{ theme.settings.get('sticky_add_to_cart') ? ' is-sticky-product-bar' : '' }}
  ">
  <div class="loader-init"></div>
<noscript>
    للحصول على الوظائف الكاملة لهذا الموقع، تحتاج إلى تمكين JavaScript. إليك كيفية
    <a href="https://www.enable-javascript.com/" rel="noreferrer"
       target="_blank">تمكين JavaScript على صفحة الويب</a>.
</noscript>
<div class="app-inner flex flex-col min-h-full">
    {% hook 'body:start' %}
    {% component 'header.header' %}
    {% block content %}{% endblock %}
    {% component 'footer.footer' %}
</div>
{% hook 'body:end' %}
<script defer src="{{ 'app.js' | asset }}"></script>

{# مكونات Twilight #}
<salla-offer-modal></salla-offer-modal>
<salla-search></salla-search>

{% if user.type=='guest' %}
    <salla-login-modal></salla-login-modal>
{% endif %}
{% block scripts %}{% endblock %}
</body>
</html>
